.actuator-card {
  height: 230px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 32%;
  margin-bottom: 15px;
  &:hover {
    border: 2px solid #0099CC;
  }
  @media screen and (max-width: $screen-xl) {
    width: 49%;
  }
  @media screen and (max-width: $screen-lg) {
    width: 100%;
  }
  &__name {
    margin-left: auto;
    text-align: right;
    h2 {
      margin-top: 0;
      margin-bottom: 3px;
    }
    span {
      font-size: 14px;
    }
  }
  &__header {
    display: flex;
    margin-bottom: 20px;
  }
  &__data-item {
    margin-bottom: 5px;
  }
  &__item-content {
    float: right;
  }

}