@font-face {
  font-family: montserrat-regular;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: montserrat-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: montserrat-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

#root {
  height: 100%;
}

h1 {
  font-size: 24px;
}

h3 {
  margin: 0;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$blue: #0099CC;
$light_gray: #EEEEEE;
$gray: #828282;
$orange: #f3bd34;
$green: #5AD620;

$scrollbar-color: #c1c1c1;

$screen-md: 767px;
$screen-md-min: 768px;
$screen-lg: 1023px;
$screen-lg-min: 1024px;
$screen-xl: 1199px;
$screen-xl-min: 1200px;

.mobile-only {
  @media screen and (min-width: $screen-md-min) {
    display: none;
  }
}

.desktop-only {
  @media screen and (max-width: $screen-md) {
    display: none;
  }
}

#csv-download {
  display: none;
}

.main-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.form {
  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input {
      padding: 0 20px;
      margin: 5px 0;
      width: 100%;
      height: 55px;
      border-radius: 10px;
      background-color: $light_gray;
      border: none;
      font-size: 15px;
      &:focus {
        outline: none;
      }
    }
    label {
      &:not(:first-child) {
          margin-top: 5px;
      }
      color: gray;
      margin-bottom: 5px;
    }
  }
  &__button {
    width: 100%;
    height: 55px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: $blue;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
    outline: 0;
    &:focus {
      outline: 0;
      -webkit-tap-highlight-color: transparent;
    }
    &:hover {
      background-color: darken($color: $blue, $amount: 5%);
      cursor: pointer;
    }
    @media screen and (max-width: $screen-md) {
      &:active {
          background-color: darken($color: $blue, $amount: 5%);
      }
      &:hover:not(:active) {
          background-color: $blue;
      }
    }
  }
}

@import './styles/_login.scss';
@import './styles/_dashboard.scss';
@import './styles/scroll-list';
@import './styles/actuator-card';
@import './styles/header';
@import './styles/actuator-page';
@import './styles/actuator-tabs';